* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #05386b;
  --dark-green: #379683;
  --background-color: #5cdb95;
  --light-green: #8ee4af;
  --text-color: #edf5e1;
  --title-font: "Chonburi", cursive;
  --text-font: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--dark-blue);
  font-family: var(--text-font);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 10px;
  background-color: var(--light-green);
}

h1 {
  font-family: var(--title-font);
  font-size: 40px;
}

.header-item {
  padding-bottom: 5px;
}

button {
  background-color: var(--light-green);
  color: var(--dark-blue);
  border: none;
  border-radius: 2px;
  padding: 1px;
  transition: all 0.2s;
}

button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

button:active {
  filter: brightness(115%);
}

.open {
  background-color: var(--dark-blue);
  color: var(--text-color);
  height: 60px;
  width: 60px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 50px;
  transition: all 0.2s;
}

.open:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.open:active {
  filter: brightness(115%);
}

.library {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
}

.library > div {
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 150px;
  height: 175px;
  position: relative;
  background-color: var(--dark-green);
  box-shadow: 5px 5px 5px var(--dark-blue);
}

.library > div > * {
  margin-bottom: 5px;
}

.library > div > button {
  display: block;
  position: absolute;
  bottom: 2px;
  right: 8px;
}

.form-popup {
  display: none;
  height: 200px;
  width: 250px;
  position: fixed;
  bottom: 20px;
  right: 150px;
  z-index: 2;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--dark-green);
  box-shadow: 5px 5px 5px var(--dark-blue);
}

form > button {
  margin-top: 10px;
}

form > label {
  font-weight: 500;
}
label[for="read"] {
  display: block;
}

input[type="number"] {
  width: 50px;
}

input[type="text"],
input[type="number"] {
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--light-green);
  background-color: var(--dark-green);
  border-bottom: 2px solid var(--dark-blue);
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: var(--dark-green);
  border-bottom: 2px solid var(--dark-blue);
  color: var(--light-green);
}

input[type="text"]:focus-visible,
input[type="number"]:focus-visible {
  outline: none;
}

#error {
  margin-top: 10px;
  color: rgb(115, 226, 12);
}

input[type="text"].input-error,
input[type="number"].input-error {
  border-bottom: 2px solid rgb(115, 226, 12);
}
